a.choice-item, a.choice-item:active, a.choice-item:visited {
  color: #2996cc;
  border-bottom: 0.5px solid #2996cc;
  text-decoration: none;
  padding-bottom: 1px;
}

a.choice-item:hover {
  color: #777;
  border-bottom: 0.5px solid #777;
}

a.choice-item.disabled {
  border-bottom: 0.5px dotted #777;
}